#IntelliJ
/out
/.idea
*.iml
.editorconfig
_config.yml

#github
/.github/

# Java
*.class

# OSX Specific
.DS_Store

# Gradle
/build/
/.gradle/

# Testing Files
*/me/masstrix/eternalnature/testing/

# Build Files
/target